.sub_drop li:nth :nth-child(3)
   {
      border-top: none;
   }
.hero_part
   {
      background-image: url(../Class-7/back.jpg);
      background-repeat: no-repeat;
      color: #fff;

   }
.bg_overlay
   {
      background-color: rgb(0, 0, .5);
   }